[Desktop Entry]
Encoding=UTF-8
Name=Link to Log in
Type=Link
URL=https://app.netlify.com/?_gl=1*ewrunx*_gcl_aw*R0NMLjE2MzY5NTg1ODkuQ2owS0NRaUFoTU9NQmhEaEFSSXNBUFZtbC1GeUpRUEp4YUlrMG5fY0J0NFhtNHV3S2o1eFRKZDZtbDlFU2NXak1UeHRualBlZGM0bnZzNGFBaTZ4RUFMd193Y0I.&_ga=2.128825097.421442453.1642523853-1244391361.1636958590
Icon=text-html
